
<!-- CSS -->
  <link rel="stylesheet" href="./css/dashboard.css">
<!-- angular chart.js css -->
  <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">

  <title>SpndHappi</title>
</head>
<body ng-controller="dashboardController">
<!-- navbar -->
  <nav>
    <div class="nav-wrapper" height="70">
      <a href="#" class="brand-logo"><img class="logo" src="./img/logo.png"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/#/ ">home</a></li>
      </ul>
    </div>
  </nav>

  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <img src="./img/logo.png">
      <h4>Getting Started</h4>
      <p>$pNd(Happi) is a tool to help you become aware of which purchases make you most happy.  We do this by evaluating your goals, passions, and values to provide you with an easy traking system to help you spend your money on things that matter most to you.</p>
      <h5>Let's begin by answering a few questions!</h5>
    </div>
    <div class="modal-footer">
    <!-- Modal Trigger 2 -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Take The Quiz!</a>
    </div>
  </div>


  <!-- Modal 2 Structure -->
  <div id="modal2" class="modal">

  <!-- Quiz -->
    <div class="modal-content">
    <iframe id="quizWidget-189542" width="100%" height="700px" frameborder="0" border="none" src="https://www.boombox.com/widget/quiz/fi9xdWl6emVzLzE4OTU0Mg"></iframe>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Take The Quiz!</a>
    </div>
  </div>  

<!-- Conveyor belt slideshow -->
  <div class="row" id="images">
  
  </div>

<!-- select quiz result -->
<!-- Dropdown Trigger -->
<a class='dropdown-button btn' href='javascript:void(0);' data-activates='demoDropdown' dropdown data-hover="true">
    This is a dropdown
</a>

<!-- Dropdown Structure -->
<ul id='demoDropdown' class='dropdown-content' ng-model="select.value1">
    <li value="simple">Simple Life</a></li>
    <li value="adventure">Adventure & Fun</a></li>
    <li value="friends">Friends & Fun</a></li>
    <li value="rich">Work Hard, Play Hard</a></li>
</ul>
  <h5 class="result">Your result is {{ value1 }}</h5>

<!-- input goals -->
<!-- <div input-field class="col s6 center">
    <input type="text" ng-model="dummyInputs.inputFieldInput" length="150">
    <label>Input label</label>
</div> -->

<!-- pie chart result -->
  <canvas id="pie" class="chart chart-pie"
  chart-data="data" chart-labels="labels">
</canvas> 

</body>