<!-- navbar -->
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img class="logo" src="app/templates/src/client/public/img/logo.png"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a window.location="#about">About</a></li>
        <li>
        	<!-- Modal Trigger -->
  			<a class="waves-effect waves-light modal-trigger" href="#modal1">Login</a>
  		</li>
      </ul>
    </div>
  </nav>

<!-- Modal Structure Login-->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Login</h4>
	  <div class="row">
	    <form class="col s12">
	      <div class="row">
	        <div class="input-field col s6">
	          <input  id="first_name" type="text" class="validate">
	          <label for="first_name">Username</label>
	        </div>
	        <div class="input-field col s6">
	          <input id="password" type="password" class="validate">
	          <label for="password">Password</label>
	        </div>
	      </div>
	      <div class="row">
	      </div>
	      <div class="row">
	        <div class="input-field col s12">
	          <input id="email" type="email" class="validate">
	          <label for="email">Email</label>
	        </div>
	      </div>
	    </form>
	  </div>
  	</div>
    <div class="modal-footer">
      <p><b>Not a user? Sign Up Now!</b></p>
      <a href="#!" class=" modal-action waves-effect waves-green btn-flat" id="login">Login</a>
      <a href="#modal2" class="waves-effect waves-light modal-trigger waves-effect waves-green btn-flat" id="signup">Sign Up</a>
  <!-- Modal Trigger -->
  <!-- <a class="waves-effect waves-light modal-trigger" href="#modal1">Sign Up</a> -->
    </div>
  </div>

  <!-- Modal Structure SignUp-->
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Sign Up</h4>
	  <!-- <div id="modal2" class="modal bottom-sheet"> -->
	    <!-- <div class="modal-content"> -->
	      <h4>Login</h4>
		  <div class="row">
		    <form class="col s12">
		      <div class="row">
		        <div class="input-field col s12">
		          <input  id="first_name" type="text" class="validate">
		          <label for="first_name">Username</label>
		        </div>
		        <div class="input-field col s6">
		          <input id="password" type="password" class="validate">
		          <label for="password">Password</label>
		        </div>
		        <div class="input-field col s6">
		          <input id="password" type="password" class="validate">
		          <label for="password">Confirm Password</label>
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col s12">
		          <input id="email" type="email" class="validate">
		          <label for="email">Email</label>
		        </div>
		      </div>
		    </form>
		  </div>
	  	<!-- </div> -->
	  <!-- </div> -->
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Sign In</a>
    </div>
  </div>
 </div>

<!-- intro slider -->
 <div class="slider">
    <ul class="slides">
      <li>
        <img src="app/templates/src/client/public/img/slider3.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="app/templates/src/client/public/img/slider2.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="app/templates/src/client/public/img/slider1.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="app/templates/src/client/public/img/slider4.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>

<!-- infograph -->
		<div class="row" id="about">
			<div class="col s12 center">
				<img src="app/templates/src/client/public/img/infograph3.png">
			</div>
		</div>

<!-- img snippets -->
	<div class="row" id="img">
		<div class="col s3">
			<img class="materialboxed" src="app/templates/src/client/public/img/restaurant.jpg" height="250" width="350">
			<h3>
				BUY
			</h3>
		</div>
		<div class="col s3">
			<img class="materialboxed" src="app/templates/src/client/public/img/hockey.jpg" height="250" width="350">
			<h3>
				WHAT
			</h3>
		</div>
		<div class="col s3">
			<img class="materialboxed" src="app/templates/src/client/public/img/shopping.jpg" height="250" width="350">
			<h3>
				YOU
			</h3>
		</div>
		<div class="col s3">
			<img class="materialboxed" src="app/templates/src/client/public/img/concert.jpg" height="250" width="350">
			<h3>
				LOVE
			</h3>
		</div>
	</div>

<!-- footer -->
	<footer class="page-footer green">
	  <div class="footer-copyright">
	    <div class="container">
	    	<a class="grey-text text-lighten-4 left" href="#">Create By Kevin Eddy</a>
	    	<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
	    </div>
	  </div>
	</footer>